/*pour toute la page*/
body {
    font-family: 'Raleway', Arial, serif, sans-serif;
    font-size: 16px; /* taille de police de base pour tout le document*/
    margin :auto;
    max-width: 1400px; /*ajuste la taille du body à la taille de la fenetre*/
    width: 96%;
}

/*header*/
header {
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i { /*tous les incones sont en bleu*/
    color: #0065FC;
}

#logo {
    width: 61.09px; /* défini la largeur donnée */
    height: 19px; /*défini la hauteur donnée */
}
.nav__barre {
    display: flex; /*rend la barre flex pour positionner les liens*/
    flex-direction: row; /*positionne les liens en ligne */
    justify-content: flex-end; /* alignement à droite */
    margin-top: 0px; /* fixe la marge top à 0 pour le survol tout en haut de la page*/
    margin-bottom: 0px;
}
.nav__link {
    list-style-type: none; /*enlèce les puces de la liste*/
    margin-right: 2%; /*fixe la marge par la droite entre les deux liens et le bord droit*/
    padding: 48px; /*bloque la hauteur du padding pour la barre au survol */
}
.nav__link a { /*selectionne tous les liens (a) dans les class nav__link */
    color: #000000; /*texte en noir */
    text-decoration: none; /*annule le soulignement du lien */
    padding-top: 46px; /*la hauteur du padding - les 2px de bordure apparentes*/ 
}
.nav__link a:hover {
    border-top: 3px #0065FC solid; /*fait apparaitre une bordure en haut au survol du lien */
    color:#0065FC;
}

/*barre de recherche */

.recherche {
    display: flex; /*positionne les blocs*/
    flex-direction: column;
    width: 100%;
}
h1 {
    font-size: 22px; /*taille de titre*/
    margin-bottom: 8px; /*réduit la marge ave le paragraphe dessous */
    font-weight: 700; /*ecrit en gras*/
}
.recherche__texte {
    margin-top: 0px; /*enleve la marge */
}
.recherche__barre {
    display: flex; /*pour gérer les blocs et distance de la barre */
    height: 49px;
    width: 40%; /*occupe 40% de largeur du body*/
    margin-top: 5px;
    margin-bottom: 10px;
}
.recherche__barre--picto {
    background-color: #F2F2F2; /*couleur de fond du picto */
    border: 1px solid #F2F2F2; /*bordure du picto */
    border-radius: 15px 0px 0px 15px; /*arrondi côté gauche */
    width: 10%;
}
i.fa-solid.fa-location-dot { /*selectionne avec . pour identifier les 2 classes du i*/
    display: flex; /*flex le picto en boite */
    height: 49px; /*donne a la boite la meme hauteur que le formulaire */
    align-items: center; /*centre verticalement */
    justify-content: center; /*centre horizontalement */
    font-size: 18px; /*redimensionne le picto */
    color: #000000;
}
.recherche__barre--champs {
    border: 1px solid #F2F2F2;
    font-weight: 700; /*Ecrit en gras dans le champs */
    font-size: 18px; /*Ecrit en 18 dans le champs */
    width: 70%;
}
.recherche__barre--bouton{
    width: 20%;
}
.recherche__barre--texte {
    height: 100%;
    color: #FFFFFF; /*couleur du texte en blanc */
    font-size: 18px; /* agrandie la taille du texte à 18 */
    background-color: #0065FC; /* fond bleu*/
    border: none; /*enleve la bordure automatique*/
    border-radius: 0px 15px 15px 0px; /*arrondi des bordures*/
}
.recherche__barre--logo{
    display: none; /*desactive le logo*/
}

/*Filtres*/
.recherche__filtres {
    display: flex; /* elements flex et placés en ligne */
    justify-content: space-between; /*centre les filtres sur la largeur donnée */
    width: 70%; /*limite l'étalement sur la page */
    padding-top: 2px;
    align-items: center; /*centre verticalement */
}
.recherche__filtres p{
    font-weight: 700;
    font-size: 18px;
}
.recherche__filtres--critere {
    border: 2px solid #D9D9D9; /*ajoute la bordure à tous*/
    border-radius: 25px; /* arrondi les bordures */
    white-space: nowrap; /* annule le retour à la ligne du texte qui reste en une seule ligne */
    padding: 0.8em;
}
.recherche__filtres--critere i {
    font-size: 22px;
    color: #0065FC;
    padding-right: 10px; /*pour l'espacement avec le texte*/
}
.recherche__filtres--critere:hover {
    background: #DEEBFF;
}

/*infos nbre logements */
.nombreDeLogements, #picto_i {
    display: flex; /*rend les deux blocs flex*/
    align-items: center; /*centre le i et le texte sur l'axe vertical*/
}

.nombreDeLogements p{
    padding-left: 10px;
}
#picto_i { /*boite du picto i pour faire le rond*/
    justify-content: center; /*centre le 1 horizontalement*/
    min-width: 24px; /*faire un carré et ne pas descendre de ces mesures même en version mobile*/
    min-height: 24px;
    border: 1px solid #D9D9D9; /*mettre la bordure*/
    border-radius: 100%;  /*l'arrondir */
}

/*bloc principal*/
#contenuPrincipal{
    display: flex;
    flex-direction: row; /*aligne les 2 blocs hebergement et populaire */
    margin-top: 2%;
    justify-content: space-between;
    height: 625px;
    width: 100%;
}
.euro{
    font-weight: 600;
}
.hebergements, .populaires {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2; /*ajoute le fond sur le bloc */
    border-radius: 20px; /*arrondi les bords du bloc*/
    padding: 3%;
}
.hebergements{
    width: 65%;
}
.populaires{
    width: 30%;
}
.hebergements h2, .populaires h2 {
    font-size: 22px;
    font-weight: 700;  
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/*les étoiles*/
.cardH__etoiles, .cardP__etoiles {
    font-size: 12px; /*diminue la taille*/

}
.card__etoiles--gris i {
    color: #F2F2F2;
}
.cardH a, .cardP a, .cardA{
    background: #FFFFFF; /*insère le fond blanc*/
    border-radius: 20px; /*arrondi la card */
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 9.6px rgba(0, 0, 0, 0.1);
    text-decoration: none; /*annule le soulignement des balises enfants créé par le lien*/
    color: #000000; /*en noir pas en couleur liens*/
}

 /*hebergements*/
.hebergements__card {
    display: grid; /*positionne en grille*/
    grid-template-columns:1fr 1fr 1fr; /*défini le nombre de colonnes*/
    grid-template-rows: 1fr 1fr; /*défini le nombre de lignes*/
    gap: 5%; /*défini l'espace entre les cards*/
    width: 100%;
}
.cardH {
    display: flex; /*potiionne les cards en flex*/
    flex-direction: column;
    box-sizing: border-box; /*défini la taille bordures comprises à 100% de l'espace dispo du grid*/
}
.cardH img {
    box-sizing: border-box; /*colle une dimension à l'image de la boite bordures incluses*/
    width: 100%; /*largeur en %age de la totalité de l'espace dispo pour s'adapter si on redimensionne*/
    border: #FFFFFF solid 5px;
    height: 114px; /*défini une hauteur pour pas que l'image ne sorte */
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}
.cardH__texte{
    box-sizing: border-box; /*défini la taille des boites */
    height: 35%; /*bloque la hauteur du texte*/
    display: flex; /*place le texte flex*/
    flex-direction: column; /*passe en affichage colonnes*/
    margin-left: 15px; /*marge la gauche du texte*/
    padding-bottom: 8px; /*ajuste la position des étoiles au dessus de la bordure*/
}
.cardH h4 {
    font-weight: 700; /*en gras*/
    margin-top: 0px; /*retire les marge hérités du h4 html*/
    margin-bottom: 0px;
}
.cardH__texte p { /*le petit texte tarif de la nuitée*/
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*le Afficher plus du bas*/
.hebergements > a { /*selectionne l'enfant p direct uniquement*/
    font-size:  18px;
    font-weight: 700;
    margin-top: 8%;
    text-decoration: none;
    color: #000000 ;
}

/*populaires*/
.populaires__entete {
    display: flex;
    justify-content: space-between;
}
.fa-solid.fa-chart-line {
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.populaires__card {
    display: flex; /*positionne en flex*/
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}
.cardP a { /* le grid ne s'applique qu'aux enfants directs */
    display: grid;
    grid-template-columns: 40% 60%;
    height: 144px;
}
.cardP img {                                                                                                                                                                                     
    width: 100%;
    max-width: 137px;
    height: 134px; /*bloque la hauteur des images*/
    border-radius: 20px 0px 0px 20px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
    margin : 5px; /*valeur de la bordure*/ 
}
.cardP__texte {
    height: 144px;
    box-sizing: border-box; /*pour inclure les merges dans la boite*/
    display: flex; /*place le texte grid*/
    flex-direction: column;
    justify-content: space-around;
    padding-top: 11px; /*espace au top -5px faits par la bordure*/
    padding-bottom: 7px; /*espece bot -5px de bordure*/
    padding-left: 15px;/*marge avec les images*/
    padding-right: 5px; /*pour pas que le texte n'aille trop à droite et reste lisible au centre de la card*/
}
.cardP__texte h4{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 7px;
}
.cardP__texte p {
    font-size: 14px;
    height: 100%; /*pour que le bloc occupe tout l'espace*/

}

/*activités*/
.activites{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.activites__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    width: 100%;
}
.cardA {
    display: grid; /*potiionne les cards grid*/
    grid-template-rows: 90% 10%; /*fait deux lignes*/
    height: 445px;
}
.cardA img {                                                                                                                                                                                                  
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}
.cardA h4{
    font-weight: 700;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

/*footer*/
.piedDePage {
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-left: 5%; 
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
}
.piedDePage div{
    margin-right: 20%;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}

/*






format  tablette





*/
@media screen and (max-width : 992px) {

    body {
        width: 95%;
    }
    /*modifs nav*/
    .nav__link a:hover {
        color: #000000; /*reste noir au clic*/
        border-top: none; /*annule aussi la bordure*/
    }

    /*modifs filtres*/
    .recherche__filtres {
        width: 90%; /*ajuste la largeur des filtres*/
    }

    /*contenu principal*/
    #contenuPrincipal{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    /*hebergements*/
    .hebergements, .populaires {
        width: 100%;
        margin-bottom : 53px;
    }
    .populaires__card {
        flex-direction: row;
    }
    .cardP a{
        max-width: 252px;
    }

    /*activités*/
    .activites{
        height: auto;
        width: 100%;
    }
    .cardA {
        max-height: 267px;
        grid-template-rows: 80% 20%;
    }
    .cardA img{
        height: 211px ;
    }
    .cardA h4

    /*pied de page*/
    footer{
        height: auto;
    }
    .piedDePage div {
        height: auto;
        margin-right: 10%;
    }

}


/* 






version mobile 






*/



@media all and (max-width : 768px) {

    body{
    width: 100%; /*enleve les marges*/
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo {
        margin: auto;
        padding-top: 21px;
    }
    .nav__barre{
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        margin-top: 49px;
    }
    .nav__link {
        width: 50%; /*chaque lien prends 50% de la page*/
        text-align: center;
        margin: 1px;
        padding: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav__link a {
        font-weight: 500;
        padding: 10px;
    }
    .nav__link:hover {
        border-bottom: 3px solid #0065FC;
    }
    .nav__link a:hover {
        color : #0065FC; 
    }

     /*barre de recherche*/
     .recherche{
        width: 90%;
        margin: auto;
     }
     .recherche h1{
        margin-top: 31px;
     }
    .recherche__barre{
        width: 100%;
        margin-top:20px;
    }
    .recherche__barre--texte {
        display: none; /*desactive le "rechercher"*/
    }
    .recherche__barre--logo  {
        display: flex; /*affiche la balise contenant le logo*/
        justify-content: center; /*centre horizontalement*/
        align-items: center; /*centre verticalement*/
        height: 100%;       
        background-color: #0065FC; /* fond bleu*/
        border-radius: 0px 15px 15px 0px; /*arrondi des bordures*/
    }
    .fa-solid.fa-magnifying-glass{
        color: #FFFFFF; /*couleur du texte en blanc */
        font-size: 18px; /* agrandie la taille du texte à 18 */
    }

    /*filtres*/
    .recherche__filtres{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 70px 70px;
        gap: 5%;
        height: 200px;
        margin-top: 24px;
    }
    .recherche__filtres--texte {
        grid-column: 1/3;
    }
    .recherche__filtres--critere i {
        padding-left: 10px;
        padding-right: 10px;
    }
    .recherche__filtres .recherche__filtres--critere {
        display: flex;
        align-items: center;
        font-size: 11px;
        height: 3em;
    }
    .nombreDeLogements{
        align-items: flex-start;
        margin-top: 40px;
        margin-bottom: 17px;
    }
    .nombreDeLogements p {
       padding: 10px;
       margin: 0px;
    }
    #contenuPrincipal {
        flex-direction: column-reverse;
    }
    .populaires__entete, h2, .populaires__card, .hebergements__card, .activites__cards{
        width: 90%;
        margin: auto;
    }

    /*populaires*/
    .populaires__entete h2{
        margin-top: 28px;
        margin-bottom: 26px;
    }
    
    .populaires {
        border-radius: 0px;
        padding-bottom: 47px;
        margin-bottom: 0px;
    }
    .populaires__card {
        flex-direction: column;
        justify-content: space-around;
    }
    .populaires__card a{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .cardP img{
        max-width: 100%;
    }

    /*hebergements*/
    .hebergements{
        background-color: #FFFFFF;
    }
    .hebergements h2{
        margin-top: 26px;
        margin-bottom: 19px;
    }
    .hebergements__card {
        display: flex ; /*passe en flex pour la disposition verticale*/
        flex-direction: column;
    }
    .cardH, .cardH a{
        height: 199px;
        margin-bottom: 12px;
    }
    .cardH img{
        height: 124px;
    }
    .cardH__texte h4{
        margin-bottom: 2px;
    }
    .cardH__texte p{
        margin-bottom: 5px;
    }

/*texte dessous*/
    .hebergements > p{ /*efface le "afficher plus*/
        display: none;
    }

/*activités*/
    .activites h2{ /*pour placer e titre sur 2 lignes*/
        width: 130px;
        margin-left: 5%;
        margin-bottom: 10px;
    }
    .activites__cards{
        display: flex;
        flex-direction: column; /*remets les cards en simple bloc les uns a la suite des autres*/
    }
    .cardA{
        height: 190px;
        grid-template-rows: 70% 23%;
        margin-bottom: 20px;
    }
    .cardA img{
        height: 134px;
    }
    .cardA h4{
        display: flex;
        align-items: center;
    }


    .piedDePage{
        flex-direction: column;
        margin-top: 80px;
        height: max-content;
        max-height: max-content;
    }
}