/*pour toute la page*/

body {
    font-family: 'Raleway', Arial, serif, sans-serif;
    font-size: 16px; /* taille de police de base pour tout le document*/
    margin :auto;
    max-width: 1400px; /*ajuste la taille du body à la taille de la fenetre*/
    width: 96%;
}

/*header*/

header {
    width: 100%;
}

#logo {
    width: 61.09px; /* défini la largeur donnée */
    height: 19px; /*défini la hauteur donnée */
    position: absolute; /* détache la position du reste de la page et la bloque */
    padding-top: 1%
}

.nav__barre {
    display: block; /*passe de inline à block*/
    display: flex; /*rend la barre flex pour positionner les liens*/
    flex-direction: row; /*positionne les liens en ligne */
    justify-content: flex-end; /* alignement à droite */
    margin-top: 0px; /* fixe la marge top à 0 pour le survol tout en haut de la page*/
}

.nav__link {
    list-style-type: none; /*enlèce les puces de la liste*/
    margin-right: 2%; /*fixe la marge par la droite entre les deux liens et le bord droit*/
    padding: 20px; /*bloque la hauteur du padding pour la barre au survol */
}

.nav__link a { /*selectionne tous les liens (a) dans les class nav__link */
    color: #000000; /*texte en noir */
    text-decoration: none; /*annule le soulignement du lien */
    padding-top: 18px; /*la hauteur du padding - les 2px de bordure apparentes*/
}

.nav__link a:hover {
    border-top: 2px #0065FC solid; /*fait apparaitre une bordure en haut au survol du lien */
    color:#0065FC;
}

/*barre de recherche */

.recherche {
    display: flex; /*positionne les blocs*/
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 22px; /*taille de titre*/
    margin-bottom: 0px; /*réduit la marge ave le paragraphe dessous */
    font-weight: 700; /*ecrit en gras*/
}

.recherche__texte {
    margin-top: 0px; /*enleve la marge */
}

.recherche__barre {
    display: flex; /*pour gérer les blocs et distance de la barre */
    height: 49px;
}

.recherche__barre--picto {
    background-color: #F2F2F2; /*couleur de fond du picto */
    border: 1px solid #F2F2F2; /*bordure du picto */
    border-radius: 15px 0px 0px 15px; /*arrondi côté gauche */
    width: 50px;
}

i.fa-solid.fa-location-dot { /*selectionne avec .pour identifier les 2 classes du i*/
    display: flex; /*flex le picto en boite */
    height: 49px; /*donne a la boite la meme hauteur que le formulaire */
    align-items: center; /*centre verticalement */
    justify-content: center; /*centre horizontalement */
    font-size: 150%; /*redimensionne le picto */
}

.recherche__barre--champs {
    border: 1px solid #F2F2F2;
    font-weight: 700; /*Ecrit en gras dans le champs */
    font-size: 18px; /*Ecrit en 18 dans le champs */
}

.recherche__barre--bouton {
    background-color: #0065FC; /* fond bleu*/
    border: 1px solid #0065FC; /*bordure de la même couleur que le fond */
    border-radius: 0px 15px 15px 0px; /*arrondi des bordures*/
    color: #FFFFFF; /*couleur du texte en blanc */
    font-size: 18px; /* agrandie la taille du texte à 18 */
}

/*Filtres*/

.recherche__filtres {
    display: flex; /* elements flex et placés en ligne */
    justify-content: space-between; /*centre les filtres sur la largeur donnée */
    width: 70%; /*limite l'étalement sur la page */
    padding-top: 2px;
    margin-top: 1em;
    align-items: center; /*centre verticalement */
}

.recherche__filtres p{
    font-weight: 700;
    font-size: 18px;
}

.recherche__filtres--critere {
    border: 2px solid #D9D9D9; /*ajoute la bordure à tous*/
    border-radius: 25px; /* arrondi les bordures */
    white-space: nowrap; /* annule le retour à la ligne du texte qui reste en une seule ligne */
    height: auto;
    padding: 1%;
}

.recherche__filtres--critere i {
    font-size: 22px;
    color: #0065FC;
    padding-right: 10px;
}

.recherche__filtres--critere p {
    margin: 0px;
}

.recherche__filtres--critere :hover {
    background: #DEEBFF;
}

/*infos nbre logements */

.nombreDeLogements {
    display: flex;
    align-items: center;
}

#picto_i { /*boite du picto i pour faire le rond*/
    margin: 10px;
    width: 24px; /*faire un carré*/
    height: 24px;
    border: 1px solid #D9D9D9; /*mettre la bordure*/
    border-radius: 100%;  /*l'arrondir */
}

.fa-solid.fa-info {
    color: #0065FC; /*passe en bleu*/
    padding-left: 10px; /*ajoute les marges intérieures pour le rond*/
    padding-top: 3px;
}

/*bloc principal*/
#contenuPrincipal{
    display: flex;
    flex-direction: row; /*aligne les 2 blocs hebergement et populaire */
    margin-top: 2%;
    justify-content: space-between;
    height: 625px;
}
.euro{
    font-weight: 600;
}

.hebergements, .populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2; /*ajoute le fond sur le bloc */
    border-radius: 20px; /*arrondi les bords du bloc*/
    width: 65%;
    padding: 2%;
}

.hebergements{
    width: 65%;
}

.populaires{
    width: 25%;
}
.hebergements h2, .populaires h2 {
    font-size: 22px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}
 /*hebergements*/

.hebergements__card {
    display: grid; /*positionne en grille*/
    grid-template-columns:1fr 1fr 1fr; /*défini le nombre de colonnes*/
    grid-template-rows: 1fr 1fr; /*défini le nombre de lignes*/
    gap: 3%; /*défini l'espace entre les cards*/
    width: 100%;
}

.cardH {
    display: flex; /*potiionne les cards en flex*/
    flex-direction: column;
    background: #FFFFFF; /*insère le fond blanc*/
    border-radius: 20px; /*arrondi la card */
    box-sizing: border-box; /*défini la taille*/
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 9.6px rgba(0, 0, 0, 0.1);
}

.cardH a {
    text-decoration: none; /*annule le soulignement des balises enfants créé par le lien*/
    color: #000000; /*en noir pas en couleur liens*/
    
}

.cardH img {
    box-sizing: content-box; /*défini la taille de la boite image*/
    width: 96%;
    align-content: center; /*pour que l'image soit centrée*/
    height: 60%;
    max-height: 114px; /*défini une hauteur max pour pas que l'image ne sorte */
    border: 5px solid #FFFFFF; /*ajoute le tour blanc */
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}

.cardH__texte{
    box-sizing: border-box; /*défini la taille des boites */
    height: 75px;
    display: flex; /*place le texte flex*/
    flex-direction: column; /*passe en affichage colonnes*/
    margin-left: 15px;
}

.cardH h4 {
    font-weight: 700; /*en gras*/
    margin-top: 0px;
    margin-bottom: 2%; 
}
.cardH__texte p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 3%; 
}

.cardH__etoiles {
    color: #0065FC;
    font-size: 12px;
}

.cardH__etoiles .card__etoiles--gris {
    color: #F2F2F2;
}

/*le petit texte du bas*/
.hebergements > p { /*selectionne l'enfant p direct uniquement*/
    font-size:  18px;
    font-weight: 700;
    margin-top: 5%;
}

/*populaires*/

.populaires__entete {
    display: flex;
    justify-content: space-between;
    height: 10%;
    }

.fa-solid.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.populaires__card {
    display: flex; /*positionne en grille*/
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.cardP a { /* le grid ne s'applique qu'aux enfants directs */
    display: grid;
    grid-template-columns: 40% 60%;
    background: #FFFFFF; /*insère le fond blanc*/
    border-radius: 20px; /*arrondi la card */
    box-sizing: border-box; /*défini la taille*/
    width: 100%;
    max-width: 343px;
    height: 144px;
    text-decoration: none; /*annule le soulignement des balises enfants créé par le lien*/
    color: #000000; /*en noir pas en couleur liens*/
    box-shadow: 1px 1px 9.6px rgba(0, 0, 0, 0.1);
}

.cardP img {                                                                                                                                                                                                  
    box-sizing: content-box; /*défini la taille de la boite image*/
    width: 100%;
    max-width: 137px;
    height: 100%;
    max-height: 134px;
    border: 5px solid #FFFFFF; /*ajoute le tour blanc */
    border-radius: 20px 0px 0px 20px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}

.cardP__texte {
    box-sizing: border-box; /*défini la taille des boites */
    height: 144px;
    display: grid; /*place le texte flex*/
    grid-template-columns: 1fr; /*passe en affichage colonnes*/
    grid-template-rows: 1fr 1fr 3fr;
    margin-left: 10%;
    padding-right: 7%; /*pour pas que le texte n'aille trop à droite et reste lisible au centre de la card*/
    margin-top: 5%;
}
.cardP__texte h4{
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 5%;
}
.cardP__texte p {
    font-size: 14px;
    margin-top: 0px;
}

/*positionne et colore les etoiles*/
.cardP__etoiles {
    color: #0065FC;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.cardP__etoiles .card__etoiles--gris {
    color: #F2F2F2;
}

/*activités*/

.activites{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.activites__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    width: 100%;
}

.cardA {
    display: grid; /*potiionne les cards grid*/
    grid-template-rows: 85% 15%; /*fait deux colonnes*/
    background: #FFFFFF; /*insère le fond blanc pour la partie du texte*/
    border-radius: 20px; /*arrondi toute la card */
    box-sizing: border-box; /*défini la taille*/
    width: 100%;
    max-height: 445px;
    box-shadow: 1px 1px 9.6px rgba(0, 0, 0, 0.1);
}

.cardA img {                                                                                                                                                                                                  
    box-sizing: border-box; /*défini la taille de la boite image incluant les bordures*/
    width: 100%;
    height: 100%;
    max-height: 389px;
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}

.cardA h4{
    font-weight: 700;
    font-size: 15px;
    margin:0px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

/*footer*/
.piedDePage {
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-left: 5%; 
    padding-top: 2%;
    padding-bottom: 2%;
    height: 30%;
    max-height: 225px;
    margin-top: 5%;
 
}

.piedDePage div{
    margin-right: 20%;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}


/*forme  tablette*/
@media screen and (max-width : 992px) {

body {
    width: 90%;
}
/*modifs nav*/
.nav__link a:hover {
    color: #000000; /*reste noir*/
    border-top: none; /*pas de bordure en haut*/
}

/*modifs filtres*/
.recherche__filtres {
    width: 90%; /*ajuste la largeur des filtres*/
}
/*contenu principal*/
#contenuPrincipal{
    flex-direction: column;
    height:957px;
}

/*hebergements*/
.hebergements, .populaires {
    width: 96%
}

.hebergements h2 {
    display: flex;
    align-items: center;
    height: 85px;      
}
.populaires__entete {
    height: 85px;
    
}
.populaires__card {
    flex-direction: row;
    width: 100%;
}
.cardP {
    max-width: 252px;
}

.cardA {
    max-height: 267px;
}

.piedDePage div {
    margin-right: 10%;
}